pytest-dependency
pytest-md-report
pytest
nats-py
asyncio
opentelemetry-proto
opentelemetry-api
opentelemetry-sdk
#allure-pytest
pytest-order
git+https://github.com/elapfra/kubetest/
pytest-bdd-ng[allure]
neo4j
python-loki-client
GitPython
libtmux
python-dxf
