name: Upload Allure Report

on:
  workflow_call:
    inputs:
      artifact_name:
        required: true
        type: string

    secrets:
      MINDWM_TOKEN:
        required: true

jobs:
  upload_allure_report:
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: ${{ inputs.artifact_name }}
          path: artifact_dir

      - name: Load report history
        uses: actions/checkout@v4
        continue-on-error: true
        with:
          token: ${{ secrets.MINDWM_TOKEN }}
          repository: 'mindwm/mindwm.github.io'
          ref: main
          path: gh-pages

      - name: Workaround for allure reports
        continue-on-error: false
        run: |
          test -d gh-pages/mindwm-gitops/allure-action || mkdir -p gh-pages/mindwm-gitops/allure-action
          mv gh-pages/mindwm-gitops/allure-action gh-pages/allure-action

      - name: Allure Report Action
        uses: mgrybyk-org/allure-report-branch-js-action@v1
        id: allure
        continue-on-error: true
        with:
          list_dirs: true
          report_id: 'ci'
          gh_pages: 'gh-pages'
          report_dir: 'artifact_dir/allure-results'

      - name: Update mindwm.github.io
        id: update_mindwm_github_io
        env:
          ORG_NAME: mindwm
          REPO_NAME: mindwm.github.io
          REPO_BRANCH: main
        run: |
          cd gh-pages/
          mv allure-action mindwm-gitops/
          cd mindwm-gitops/allure-action
          git add -A .
          git config --global user.email "metacoma"
          git config --global user.name "ryabin.ss@gmail.com"
          git commit -m 'allure update' || echo "nothing to commit"
          git push origin main

